groups:
  - name: group1
    required_params:
      - id
      - host
      - login
    optional_params:
      - ofctrl

  - name: group2
    required_params:
      - id
      - host
      - login
    optional_params:
      - ofctrl